[data-theme="1"] {
  --color: #000000;
  --background: #ffffff;
}

[data-theme="2"] {
  --color: #000000;
  --background: #ddeeff;
}

[data-theme="3"] {
  --color: #ffffff;
  --background: #212a34;
}

html {
  background-color: var(--background);
  color: var(--color)!important;
}


.select {
  background-color: var(--background);
  color: var(--color);
  min-width: 170px;
  width: fit-content;
  text-transform: capitalize;
  padding: 10px;
  option {
    text-transform: capitalize;
    background-color: var(--background);
    color: var(--color);
  }
}
